<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings file="secret.config">
    <!--<add key="ConsumerKey" value=""/>

    <add key="ConsumerKeySecret" value=""/>


    <add key="AccessToken" value=""/>

    <add key="AccessTokenSecret" value=""/>-->

    <add key="InputFolderPath" value="H:\skydrive-rrm-outlook\research-work\Twitter-data-trials\Extracted-Tweets\input"/>

    <add key="OutputFolderPath" value="H:\skydrive-rrm-outlook\research-work\Twitter-data-trials\Extracted-Tweets\output"/>

    <add key="CompletedFolderPath" value="H:\skydrive-rrm-outlook\research-work\Twitter-data-trials\Extracted-Tweets\completed"/>

    <add key="TimeFrame" value="16"/>

    <add key="AllowedRemainingLimit" value="160"/>
    
    <!--<add key="DbConnString" value=""/>-->
    
    <add key="PersistToDatabase" value="false"/>


    
  </appSettings>

</configuration>