<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="secret.config">

    <!--<add key="ConsumerKey" value="" />

    <add key="ConsumerKeySecret" value="" />-->


    <!--<add key="AccessToken" value="" />

    <add key="AccessTokenSecret" value="" />-->

    <add key="ConsumerKey" value="f5SQkibZnpomMyfAiNF4H2w60" />

    <add key="ConsumerKeySecret" value="jdKlnzBNi916Zq6rZhAScVvTxEnuATnORRWCcB7dnzBsHIrKS3" />

    <add key="AccessToken" value="1704540338-zl0QvTnp59JTXCKSGAyyx23qtSUxyX4lNOCLOr1" />

    <add key="AccessTokenSecret" value="qTtJt2ZOtCE1Y8hUK27wxprPmzs0gYXbrdyzSSf3GZfOB" />

    <add key="DbConnString" value="Server=CBS-CSSL-TS-02\SQLSERVER2014;DataBase=COBWEBTwitterDatabase;Integrated Security=SSPI"/>


    <add key="InputFolderPath" value="F:\raghava-work\TUT-CobWeb\twitter-data\Extracted-TweetData\input" />

    <add key="OutputFolderPath" value="F:\raghava-work\TUT-CobWeb\twitter-data\Extracted-TweetData\output" />

    <add key="CompletedFolderPath" value="F:\raghava-work\TUT-CobWeb\twitter-data\Extracted-TweetData\completed" />

    <add key="TimeFrame" value="16"/>

    <!--Each file contains tweets about 15000 tweetIds, so the limit could be 100, but to be safer side use 105-->
    
    <add key="AllowedRemainingLimit" value="160"/>


    <!--<add key="DbConnString" value=""/>-->

    
    <add key="PersistToDatabase" value="true"/>
    
    



  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>