<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings >

    <add key="ConsumerKey" value="f5SQkibZnpomMyfAiNF4H2w60" />

    <add key="ConsumerKeySecret" value="jdKlnzBNi916Zq6rZhAScVvTxEnuATnORRWCcB7dnzBsHIrKS3" />

    <add key="AccessToken" value="1704540338-zl0QvTnp59JTXCKSGAyyx23qtSUxyX4lNOCLOr1" />

    <add key="AccessTokenSecret" value="qTtJt2ZOtCE1Y8hUK27wxprPmzs0gYXbrdyzSSf3GZfOB" />

    <add key="DbConnString" value="Server=ITU-TIME-SERVER;DataBase=ChennaiFloods;Integrated Security=SSPI"/>


  </appSettings>
</configuration>