<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="secret.config">

    <!--<add key="ConsumerKey" value="" />

    <add key="ConsumerKeySecret" value="" />

    <add key="AccessToken" value="" />

    <add key="AccessTokenSecret" value="" />

    <add key="DbConnString" value=""/>-->

    <add key="InputFolderPath" value="D:\Alivelu-data\Data\Twitter-datafetch-trials\input" />

    <add key="OutputFolderPath" value="D:\Alivelu-data\Data\Twitter-datafetch-trials\output" />

    <add key="CompletedFolderPath" value="D:\Alivelu-data\Data\Twitter-datafetch-trials\completed" />

    <add key="TimeFrame" value="16"/>

    <!--The value should be 160 in order to process a file of 15000. so change it back to 160-->
    <add key="AllowedRemainingLimit" value="160"/>


    <!--<add key="DbConnString" value=""/>-->

    <add key="PersistToDatabase" value="false"/>



  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>